Repository doktorupnos/crow, pull requests merged in 2024-04, with the labels that each got.

#78 Post Tweaks
  web/public/images/crow/logo.svg
  web/public/images/crow/title.svg
  web/public/images/post/create.svg
  web/src/components/auth/AuthGrid/_components/AuthHeader/_components/IconCrow/IconCrow.js
  web/src/components/auth/AuthMenu/_components/IconTitle/IconTitle.js
  web/src/components/nav/NavBar/_components/IconHome/IconHome.js
  web/src/components/post/PostCreate/PostCreate.js
  web/src/components/post/PostCreate/_components/IconCreate.js
  web/src/components/post/PostGrid/PostGrid.js
  web/src/components/post/PostGrid/_components/IconSpin/IconSpin.js
  web/src/components/post/PostGrid/_components/IconSpin/IconSpin.module.scss
Labels: bug, enhancement, web

#88 Post Creation Character Limit
  web/src/components/nav/NavBar/_components/IconHome/IconHome.js
  web/src/components/nav/NavBar/_components/IconHome/IconHome.module.scss
  web/src/components/post/PostCreate/PostCreate.js
Labels: enhancement, web

#92 Update kubernetes manifest to match production
  backend/k8s/api.yaml
  backend/k8s/autoscaler.yaml
  backend/k8s/ingress.yaml
  backend/k8s/service.yaml
  persistence/database/postgres.yaml
  web/k8s/cluster-issuer.yaml
  web/k8s/deployment.yaml
  web/k8s/ingress.yaml
  web/k8s/service.yaml
Labels: enhancement
